<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BloggerBhoj</title>
    <link rel="stylesheet" href="/style/style.css" />
    <link rel="stylesheet" href="/style/style2.css" />
    <link rel="stylesheet" href="/style/style3.css" />
  </head>
  <body>
    <div class="blogs">
      <h2 class="title"><%= blogs.title %></h2>
      <h4 class="author">@<%= blogs.author %></h4>
      <hr />
      <div class="content-wrapper">
        <p class="content"><%=blogs.content%></p>
        <img src="<%= blogs.Image%>" class="img" />
      </div>
      <a href="/blog/<%=blogs.id%>/edit"
        ><button class="submit-btn">Edit it</button></a
      >
      <form action="/blogs/<%=blogs._id%>?_method=delete" method="post">
        <a href="#">
          <button class="submit-btn">Delete</button>
        </a>
      </form>
    </div>
  </body>
</html>
